.alert{
    .alert-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999; 
    }
    
    .alert-container {
        width: 400px;
        height: 300px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
        
    .alert-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .alert-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .alert-button {
        margin-top: 20px;
    }

    .btn-gap{
        display: flex;
        gap: 10px;
    }
    
        /* X 버튼 스타일 */
    .alert-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        color: #5F6F52;
        cursor: pointer;
    }

    .alert-close-button:hover {
        color: #333; 
    }

}