.common-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #a9b388;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.common-button:hover {
  background-color: #5f6f52;
}
