/* sidebar.style.css */

/* 기본 스타일 */
.sidebar-container {
  width: 300px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  height: calc(100vh - 60px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 100;
  overflow: auto; /* 내용이 넘칠 때 스크롤 바를 표시 */
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.4);
}
.sidebar-container.desktop-sidebar {
  width: 400px;
  height: 100%;
}

/* 오른쪽 슬라이드 */
.slide-in-right {
  right: 0;
  visibility: visible;
  animation: slideInFromRight 0.5s ease forwards;
}

/* 왼쪽 슬라이드 */
.slide-in-left {
  left: 100px;
  visibility: visible;
  animation: slideInFromLeft 0.5s ease forwards;
}
/* 오른쪽에서 슬라이드 인 애니메이션 */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* 왼쪽에서 슬라이드 인 애니메이션 */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 숨김 상태 */
.hidden {
  display: none;
}

/* 추가 UI 스타일 */
.project-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.user-image {
  width: 350px;
  height: 500px;
  background-color: var(--primary-color-ivory);
  border-radius: 8px;
  margin-bottom: 20px;
  flex-shrink: 0; /* 플렉스 레이아웃에서 사이즈가 줄어들지 않도록 설정 */
}

.user-info {
  width: 100%;
  background-color: #444;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.cat-list-container {
  width: 100%;
  background-color: #555;
  padding: 10px;
}

.cat-list-title {
  font-size: 16px;
  margin-bottom: 10px;
}

/* 미디어 쿼리: 700px 미만일 때 사이드바 숨기기 */
@media (max-width: 700px) {
  .sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    animation: toggleFadeIn 0.5s ease forwards; /* 등장 시 애니메이션 추가 */
  }
  @keyframes toggleFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* 모바일 모드에서 사이드바가 열릴 때 */
  .sidebar-container.active.slide-in-right,
  .sidebar-container.active.slide-in-left {
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    animation: slideInFromLeft 0.5s ease forwards;
  }
  /* 숨김 상태 */
  .sidebar-container.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }
  .sidebar-toggle-close {
    background-color: transparent;
    color: var(--primary-color-brown);
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* 테스트중  다른곳 눌리면 닫힘*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50; /* 사이드바보다 위에 있도록 설정 */
    animation: overlayFadeIn 0.5s ease-in-out forwards; /* 배경색 전환 애니메이션 */
  }

  /* 추가된 키프레임 애니메이션 */
  @keyframes overlayFadeIn {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  /* 사이드바 닫힐 때 애니메이션 추가 */
  .sidebar-container.active.slide-in-right.closing,
  .sidebar-container.active.slide-in-left.closing {
    animation: slideOutToLeft 0.5s ease forwards;
  }

  /* 추가된 키프레임 애니메이션 (닫힐 때) */
  /* 사이드바 열릴 때 반대 방향 애니메이션 추가 */
  /* 추가된 키프레임 애니메이션 (닫힐 때 왼쪽으로 빠지기) */
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  /* 오버레이가 사라질 때 애니메이션 추가 */
  .overlay.closing {
    animation: overlayFadeOut 0.5s ease-in-out forwards;
  }

  @keyframes overlayFadeOut {
    0% {
      background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  /*   하위 리스트 css    */

  .user-image {
    width: 250px;
    height: 400px;
  }
}
