.app-layout {
  height: 100vh;
  width: calc(100vw - 100px);
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-layout.no-flex {
  display: block; /* /admin 페이지에서 flex를 없애는 방식 */
}

/* 미디어 쿼리 */
@media (max-width: 700px) {
  .app-layout {
    width: 100vw;
    margin-left: 0;
    height: calc(100vh - 60px);
    padding-bottom: 60px;
  }

  .app-layout.no-flex {
    display: block; /* 모바일에서도 /admin 페이지에서 flex를 제거하려면 display: block */
  }
}
