.my-page-toptop {
  position: absolute;
  top: 0;
}

.mypage-style {
  width: calc(100vw - 100px);

  .mobile-sidebar-toggle {
    display: none;
  }

  .sidebar-item {
    color: #5f6f52;
    font-weight: bold;
    padding: 20px 10px;
    list-style-type: none;
  }

  .sidebar-item:hover {
    color: white;
    background-color: #a9b388;
    font-weight: bold;
  }
  .sidebar-area {
    padding-left: 0;
  }

  .sidebar {
    max-width: 300px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 40px;
    height: 100vh;
    margin-left: 70px; /* navbar의 너비만큼 왼쪽 여백 */
  }
  .userInfo-area {
    padding-top: 30px; /* 콘텐츠 상단 여백 */
    padding-left: 20px; /* 콘텐츠 왼쪽 여백 */
  }

  /* 화면 너비가 768px 이하일 때 (모바일) */
  @media (max-width: 768px) {
    .mobile-sidebar-toggle {
      /* 보이도록 설정 */
      display: block;
    }

    .sidebar-toggle {
      display: none;
    }

    .sidebar-style {
      padding-top: 0px;
    }

    .sidebar {
      max-width: 100%;
      padding: 0px;
      margin-left: 0px;
    }

    .mobile-sidebar {
      max-height: 60px;
      width: 100vw; /* 전체 너비 */
      top: 0;
      left: 0;
    }
  }
}
