.admin-product-page{
  .product-table-name {
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 1%;
  }
  
  .product-table-name .product-table-content .container {
    border-radius: 10px;
  }
  
  .product-table-name .product-table-content .row {
    display: flex;
    justify-content: space-between;
  }
  
  .product-table-name .product-table-content .col {
    display: flex;
    align-items: center; 
  }
  
  .table-area {
    margin-top: 3%;
    background-color: #fff; 
    border-radius: 20px;
  }

  .product-table-name{
    border-bottom: 2px solid #000;
  }
}


