.admin-product-page{
  .product-table-name {
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 1%;
  }
  
  .product-table-name .product-table-content .container {
    border-radius: 10px;
  }
  
  .product-table-name .product-table-content .row {
    display: flex;
    justify-content: space-between;
  }
  
  .product-table-name .product-table-content .col {
    display: flex;
    align-items: center; 
  }
  
  .table-area {
    margin-top: 3%;
    background-color: #fff; 
    border-radius: 20px;
  }

  .product-table-name{
    border-bottom: 2px solid #000;
  }
}

.upload-image {
  max-width: 100%;
  max-height: 200px; /* 최대 높이를 200px로 제한 */
  display: block;
  margin: 0 auto; /* 이미지를 가운데 정렬 */
  object-fit: contain; /* 이미지 비율 유지 */
}

