/* 전체 페이지 배경색 */
.payment-page {
    background-color: #FEFAE0;
    /* Light Ivory */
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.payment-product-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 200px;
    /* 모달 창 이미지 크기에 맞추기 */
}